.reg-main {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../asset/reg-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-heading {
  font-family: "Source Serif Pro", serif;
  text-align: center;
  font-size: 3rem;
  color: white;
}
.form-wrapper {
  margin-top: 50px;
  width: 60%;
}
.form {
  width: 100%;
  padding: 3rem 3rem 1rem;
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 300px 0 rgba(149, 155, 241, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.label {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: large;
  padding: 10px 0 0 0;
}

.field {
  background: rgba(121, 133, 189, 0.1);
  border: 1px solid rgba(252, 243, 243, 0.1);
  color: white;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;

  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;

  font-size: large;
}

::placeholder {
  color: rgb(212, 207, 207);
}

.btn-wrapper {
  margin-top: 20px;
  padding: 10px;
  width: min-content;
  margin: 0 auto;
}

.btn {
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-color: #3ea33e;
  opacity: 0.8;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn {
  text-align: center;
  cursor: pointer;
  font-size: 22px;
}
.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.btn:hover {
  opacity: 1;
}

.err {
  color: rgb(216, 78, 78);
}
